$white-color: #ffffff;
$yellow-color: #EDEA52;
$dark-black-color: #131519;
$bright-black-color: #25272B;

$green-color: rgb(0, 169, 0);
$bright-green-color: #7CE47C;
$red-color: red;
$orange-color: #F86F54;

$gray-icon-color: rgb(235, 233, 233);
$dark-gray-icon-color: rgb(146, 146, 146);
$blue-icon-color: rgb(41, 68, 238);
$green-icon-color: rgb(16, 207, 16);
$purple-icon-color: rgb(181, 27, 181);
$red-icon-color: rgb(255, 45, 45);
$orange-icon-color: rgb(248, 137, 47);