@import '../../scss/variables';

.cryptocurrencies {

   &__container {

   }

   &__inner {
      display: flex;
      flex-direction: column;
      gap: 30px;
   }

   &__table {
      
   }

   &__title-box {
      display: flex;
      flex-direction: column;
      gap: 5px;
   }

   &__title-text {
      color: $yellow-color;
      font-size: 24px;
   }

   &__title-decor {
      width: 100%;
      height: 3px;
      background-color: $yellow-color;
   }

}